<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInup">
        <div class="thumb-container">
            <img src="../assets/FE.png" alt="Profile image" class="thumb-image">
        </div>
    </div>
    
    <div class="text-container">
        <p>Project:1 (Portfolio Web)</p>
        <p>Frontend development involves creating the user interface and experience of a website or application. 
            It focuses on how users interact with the web, using technologies like HTML, CSS, and JavaScript to build responsive and dynamic layouts. 
            Frontend developers ensure that websites are visually appealing, accessible, and functional across different devices and browsers, providing a seamless user experience.
        </p>
    </div>

    <div>
        <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
            <p style="font-size: 25px; color: #6b08a6;">My Skills</p>
        </div>
        <div class="card-container">
            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color:#6b08a6;">Angular</p>
                </mat-card-header>
                <img mat-card-image src="../assets/Angular.png" alt="Iamge">
                <mat-card-content>
                    <p>Helps developers build dynamic, single-page web applications</p>
                </mat-card-content>
                <button>Know More..</button>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color:#6b08a6;">JS</p>
                </mat-card-header>
                <img mat-card-image src="../assets/JS.png" alt="Iamge">
                <mat-card-content>
                    <p>JS library for building user interfaces</p>
                </mat-card-content>
                <button>Know More..</button>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color:#6b08a6;">CSS</p>
                </mat-card-header>
                <img mat-card-image src="../assets/css.png" alt="Iamge">
                <mat-card-content>
                    <p>CSS is a language used for styling and designing web pages</p>
                </mat-card-content>
                <button>Know More..</button>
            </mat-card>
        </div>
    </div>
    

</div>

<app-footer></app-footer>